
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slider{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.slider-label{
    font-size: 10px;
    text-align: center;
}

.slider-input{
    transform: rotate(-90deg);
    margin: 50px 0;
}

.slider-input input{
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider-input input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: #0085A1;
    cursor: pointer;
  }
  
  .slider-input input::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0085A1;
    cursor: pointer;
  }

