{%extends "template.html" %}

{%block body%}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-10 justify-content-center">
                <div class="col-md-10">
                    <h2 class="mx-auto text-success text-center my-5">CarbonSavvy <br>
                         Building Tomorrow's Green Cities</h2>
                    <h4 class="py-3 text-center">Make A Prediction</h4>
                    <a href="/predict_value">
                        <button class="d-block mx-auto btn btn-primary mb-5" >Predict Carbon Emission</button>
                    </a>
                    <h4 class="py-3 text-center">Get Efforts Details</h4>
                    <a href="/predictions">
                        <button class="d-block mx-auto btn btn-primary mb-5" >Get Details</button>
                    </a>
                    
                </div>
            </div>
        </div>

{%endblock%}        
