{%extends "template.html" %}

{%block body%}
       
        <!-- Main Content-->
        <div class="container-fluid">
          <div class="container">
            
            <h2 class="text-center my-5">Enter The Values</h2>
              <form method="POST" action="/predict">
                  <div class="m-1">
                    <input name="a" placeholder="Wind Energy Resources" type="text" class="form-control" id="valueA">
                  </div>
                  <div class="m-1">
                    <input name="b" placeholder="Fuel based Vehicles On Road" type="text" class="form-control" id="valueB">
                  </div>
                  <div class="m-1">
                    <input name="c" placeholder="Solar Energy Resources" type="text" class="form-control" id="valueC">
                  </div>
                  <div class="m-1">
                    <input name="d" placeholder="Garbage in tons" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="e" placeholder="Electric Vehical on the road" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="f" placeholder="Number of Industries" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="g" placeholder="Forest Area" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="h" placeholder="Population" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="i" placeholder="Bio Energy Resources" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="j" placeholder="Recycled Garbage in tons" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="k" placeholder=" Thermal Energy Resources" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="l" placeholder="Number of Buldings" type="text" class="form-control" id="valueD">
                  </div>
                  <div class="m-1">
                    <input name="m" placeholder="Nuclear Energy Resources" type="text" class="form-control" id="valueD">
                  </div>
                  <input value="predict" type="submit" class="d-block my-3 mx-auto btn btn-primary"></input>
                </form>
          </div>
      </div>

{%endblock%}        



